a {
    color: #fff;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background: #e82238;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 20px;
    font-weight: 300;
    color: #fff;
    font-size: 20px;
}

main {
    padding: 80px;
    display: flex;
    justify-content: center;
}

main img {
    width: 100.projects {
        background: #f7f7f7;
        padding: 30px 0;
    }

    .projects h3 {
        text-align: center;
        padding: 20px;
        color: #e5273e;
    }

    .projects .projects-container {
        display: flex;
        justify-content: center;
    }

    .projects-container .project {
        flex-grow: 1;
        border-right: 1px solid grey;
        text-align: center;
    }px;
    height: auto;
}

main aside {
    width: 45%;
    margin-left: 40px;
}

aside h2 {
    color: #e5273e;
}
